IyBEZXBlbmRlbmNpZXMKL25vZGVfbW9kdWxlcwoKIyBCdWlsZCBvdXRwdXQK
L2Zyb250ZW5kL2J1aWxkCgojIExvZ3MKbG9ncwoqLmxvZwpucG0tZGVidWcu
bG9nKgp5YXJuLWRlYnVnLmxvZyoKeWFybi1lcnJvci5sb2cqCgojIFJ1bnRp
bWUgZGF0YQpwaWRzCioucGlkCioucGlkLmxvY2sKCiMgSURFIGZpbGVzCi5p
ZGVhCi52c2NvZGUKKi5zd3AKKi5zd28KCiMgT1MgZ2VuZXJhdGVkIGZpbGVz
Ci5EU19TdG9yZQpUaHVtYnMuZGIK
